.footer {
  padding: 80px 100px;
  color: white;
  padding: 30px;
  background-color: #0c0d1f;
}

.footer hr {
  color: white;
  width: 70vw;
  margin: 0 auto;
  margin-top: 50px;
  height: 3px;
  border: none;
  background-color: white;
}

.footer h2 {
  font-size: 18px;
  text-align: center;
  font-weight: 200;
  font-family: "poppins";
  margin-top: 10px;
}

@media screen and (min-width: 1440px) {
  .footer {
    padding: 40px 200px;
  }
  .footer h2 {
    font-size: 22px;
  }
}
