@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&family=Montserrat:wght@500;800&family=Poppins:wght@500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    user-select: none;
}

:root {
    --padding-lg: 40px;
    --padding-md: 30px;
    --padding-sm: 20px;
    --deep-purple: #120D23;
    --glass: #D9D9D9;
    --purple: #530D67;
    --blue: #4457FF;
    --white: #ffffff;
    --black: #000000;
    --gold: #EEC245;
    --bold: 900;
    --semi-bold: 700;
    --normal: 500;

}